
/* css reset */

*, *::after, *::before {
	box-sizing: border-box;
}



:root {
	--color-neutral-light:#eee;
	--color-neutral-medium:#999;
	--color-neutral-dark:#555;

	--color-main-light:#C9B3A2;
	--color-main-medium:#E5B1B5;
	--color-main-dark:#4B4B4D;

	--color-white:#F7F2F5;

	--header-height:3rem;
	--spacing:1rem;

	--font-serif: Menlo, serif;
	--font-sans: Menlo, sans-serif;
}



body {
		margin: 0;
		font-size: 100%;
		font-family: var(--font-sans);
		color: var(--color-main-dark);
		padding-bottom: 10em;

}



h1,
h2,
h3,
h4,
h5,
h6{
	font-family: var(--font-serif);
	color: var(--color-neutral-dark);
	font-weight: bold;
	
}



a{
	color: var(--color-neutral-dark);
	font-weight: normal;
    font-style: italic;
    font-weight: initial;
	text-decoration: none;

}





/* LAYOUT CLASSES */
.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}



.display-flex { display: flex; }
.display-inline-flex { display: inline-flex; }
.display-block { display: block; }
.display-inline-block { display: inline-block; }

.flex-stretch { flex:1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center;}
.flex-column { flex-direction:column; }
.flex-wrap{ flex-wrap:wrap; }



/*small classes*/

.media-image{
		max-width: 100%;
		vertical-align: text-bottom;
}

.hidden{
	display: none;

}



/* COMPONMENT CLASS*/

.nav ul{
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
}


.nav a {
	display: block;
	padding: 0.2em 0.5em;
}


.nav a:hover {
	background-color: var(--color-main-medium);
	color: var(--color-white);
}

.nav .active a {
	background-color: var(--color-main-light);
	color: inherit;
}

.navbar {
	background-color:var(--color-main-light);
	color: var(--color-white);
	line-height: var(--header-height);
}


.navbar h1 {
		font-size: 1.5em;
		margin: 0;
		font-family: var(--font-sans);
}

.nav-materials ul,
.nav-crumbs ul,
.nav-pills ul,
.nav-stretch ul,
.nav-flex ul{
	display: flex;
}


.nav-stretch li{
	flex: 1 1 auto;
	text-align: center;
}

.nav-materials li{
	flex: 1 1 auto;
	text-align: center;
}


.nav-pills li{
	flex: 1 1 auto;
	text-align: center;
}



.nav-pills a{
	border-radius: 2em;
	padding: 0.5em 1em;
}

.nav-crumbs a {
	display: inline-block;
}

.nav-crumbs .active a,
.nav-crumbs a:hover{
	background-color: transparent;
	color: var(--color-main-light);
	text-decoration: underline;
}


.nav-crumbs li:not(:first-child)::before{
	content: '/'
}

.nav-materials a{
	padding: 0.5em 1em;
	position: relative;
}

.nav-materials .active a{
	background-color: transparent;
	color: inherit;
}

.nav-materials a:hover{
	background-color: var(--color-neutral-light);
	color: var(--color-main-light);

}

.nav-materials a::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: var(--color-main-medium);
	transition: all 0.3s;

}





.nav-materials .active a::after {
	height: 4px;
}



.navbar a {
		font-size: 1.2em;
		padding: 0 0.5em;
}



/* card */

.card {
    background-color: var(--color-white);
    color: var(--color-neutral-dark);
    margin: 1em auto;
    padding: 1em;
	overflow: hidden;
    position: relative;
}


.card.soft {
	border-radius:0.5em ;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card.hard {
	border-radius: 0.2em;
	border: 2px solid var(--color-neutral-medium);
}

.card.medium {
	background-color:var(--color-neutral-medium);
}

.card.dark {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}

.card.flat {
	padding: 0;

}

.card-section {
  padding: 1em;
}

[class*='col-']>.card {
  height: 100%;
  margin: 0;
}



.view-window {
	height: 30vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-bottom: 1em;
}

.article p {
    font-family: var(--font-serif);
    font-size: 1.2em; 
    line-height: 1.5;
    text-align: center; 
    margin-bottom: 1.5em;
    color: var(--color-neutral-dark);
}

p {
    font-family: var(--font-serif); 
    font-size: 2em; 
    line-height: 1.5;
    text-align: center; 
    margin-top: 2em;
    margin-bottom: 2em;
    color: var(--color-neutral-medium);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--color-main-light); 
    color: var(--color-neutral-dark); 
    padding: 0.5em;
    font-family: var(--font-serif); 
    font-size: 0.4em; 
    text-align: center;
    width: 100%; 
    line-height: 1.2; 
}

.footer p {
    margin: 0.5em 0; 
    color: var(--color-neutral-dark);
}



/*table*/

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td{
	text-align: left;
	padding: 0.2em 0.5em;

}


.table.striped tbody tr:nth-child(odd){
	background-color: var(--color-neutral-light);
}

.table.lined.all th:not(first-child),
.table.lined.all td:not(first-child),
.table.lined.vertical th:not(first-child),
.table.lined.vertical td:not(first-child){
	border-left: 1px solid var(--color-neutral-medium);
}

.table.lined.all tbody tr,
.table.lined.horizontal tbody tr{
	border-top: 1px solid var(--color-neutral-medium);
}


.table.lined.all
.table.lined.border {
	border: 1px solid var(--color-neutral-medium);
}


/*figure*/

.figure {
	margin: 0;
	background-color: var(--color-white);
}
.figure img{
	width: 100%;
	vertical-align: text-bottom;

}

.figure figcaption{
	padding: 1em;
}


/*forms*/

.form-control{
	margin: 1em 0;
}


.form-input {
  display: inline-block;
  background-color: transparent;
  border-width: 0;
  padding: 0.5em 1em;
  font: inherit;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
  border-bottom: 1px solid var(--color-neutral-light);
  outline: 0;


}


.form-input:focus{
	border-bottom-color: var(--color-main-light);
	padding: 0.5em 1em;
}


.form-label{
	font-size: 0.8em;
	color: var(--color-neutral-dark);
	display: block;
	width: 100%;
}


.form-button {
  display: inline-block;
  background-color: var(--color-neutral-light);
  border-width: 0;
  font:inherit;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
  border-radius: 0.2em;
  cursor: pointer;
  text-align: center;
  padding: 0.5em 1em;
}

.form-button.inline{
	width: initial;
}

.form-button:hover{
	text-decoration: none;

}

.form-button:active{
	background-color: var(--color-white);
}


.form-item{
  display: inline-block;
  background-color: transparent;
  border-width: 0;
  padding: 0.5em 1em;
  font: inherit;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
  outline: 0;
}


.hotdog{
background-color: var(--color-neutral-light);
	border-radius: 2em;
	padding: 0.5em 1.5em;
	display: flex;
  border-width: 0;
  font: inherit;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
  outline: 0;
margin: 1em 0;
}

.hotdog.dark{
background-color: var(--color-neutral-dark);
color:var(--color-neutral-light)
}

.hotdog.light{
	background-color: var(--color-white);
color:var(--color-black)
}


.hotdog input{
  display: inline-block;
  background-color: transparent;
  border-width: 0;
  font: inherit;
  -webkit-appearance: none;
  color: inherit;
  width: 100%;
  outline: none;
  border: none;

}

.form-select>select{
display: block;
  border-width: 0;
  font: inherit;
  color: inherit;
  width: 100%;
  outline: 0;
  padding: 0.5em 1.3em;
  background-color: var(--color-neutral-light);
	border-radius: 0.3em;
	cursor: pointer;
-webkit-appearance: none;
}

.form-select{
	position: relative;

}
.form-select::after{
	content: '▿';
	font-family: arial,sans-serif;
	font-size: 1em;
	position: absolute;
	top: 50%;
	right: 0.2em;
	transform: translateY(-50%);
	pointer-events: none;
	color: var(--color-neutral-medium);

}


/*Toggle*/
.toggle label {
	font-size: 1.3em;
	display: inline-block;
	width: 2em;
	height: 1em;
	border: 0.1em solid var(--color-neutral-medium);
	background-color: var(--color-neutral-light);
	border-radius: 1em;
	position: relative;
}

.toggle label::after{
	content: '';
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	border-radius: 1em;
	position: absolute;
	background-color: var(--color-neutral-dark);
	transition: all 0.3s;

}

.toggle input:checked + label::after{
	transform: translateX(1em);
}

.box {
    padding: 15px;
    margin: 10px;
    background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-dark);
    min-width: 100px;
    min-height: 50px;
    text-align: center;
}
