*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--color-neutral-light:#eee;
	--color-neutral-medium:#999;
	--color-neutral-dark:#555;

	--color-main-light:#E9F3F6;
	--color-main-medium:#C6DDDF;
	--color-main-dark:#9CB5BA;

	--color-black:#555;
	--color-white:#fff;

	--header-height:3rem;
	--spacing:1rem;

	--font-serif: Georgia, "Times New Roman", serif;
	--font-sans: Helvetica, Arial, sans-serif;
	--font-sans-header: Bauhaus, Arial, sans-serif;
	--font-sans-body: Neutra Text, Arial, sans-serif;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans-body);
}

h1 {
	font-family: ;
	font-size: ;
}
h2
h5 {
	font-family: var(--font-serif);
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.container.wide {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}


.display-flex {display: flex;}
.display-inline-flex {display: inline-flex;}
.display-block {display: block;}
.display-flex {display: flex;}
.display-inline-block {display: inline-block;}

.flex-stretch {flex: 1 1 auto;}
.flex-none {flex: none;}

.flex-align-center {align-items: center;}
.flex-justify-center {justify-content: center;}

.home {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
	list-style-type: none;
}
.home:hover {
	text-decoration: none;
}


.nav-stretch ul,
.nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-block: 0;
	padding-left: 0;
}
.nav a{
	display: block;
	padding: .2em .5em;
}
.nav a:hover{
	background-color: var(--color-main-medium);
	color: var(--color-white);
	text-decoration: none;
}

.nav-stretch ul,
.nav-pills ul,
.nav-crumbs ul,
.nav-flex ul {
	display: flex;
}

.nav-stretch li {
	flex: 1 1 auto;
	text-align: center;
}

.nav-pills a{
	border-radius: 2em;
	padding: .3m 1m;
}

.nav-crumbs

.navbar {
	background-color: var(--color-neutral-medium);
	color: var(--color-white);
	line-height: var(--header-height);
}
.navbar h1 {
	font-size: 2em;
	margin: 10;
	font-family: var(--font-sans-header);
}
.navbar a {
	padding: 0 .5em;
	font-size: 1.1em;
}


.card {
	background-color: var(--color-white);
	margin-top: 1em;
	margin-block: 1em;
	padding: 1em;

	overflow: hidden;
	position: relative;
}
.card.soft {
	border-radius: .5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card.hard {
	border-radius: 0em;
	border:2px solid var(--color-neutral-medium);
}
.card.dark {
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);
}
.card.medium {
	background-color: var(--color-neutral-medium);
}
.card.light {
	background-color: var(--color-neutral-light);
}
.card.flat {
	padding: 0;
}


.view-window {
	height: 45vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}