
:root {
	--header-height: 3rem;
	--spacing: 1rem;

	--color-card: white;
}

.container {
	max-width: 1200px;
}

.center-text {
    text-align: center;
}

.h2 {
	font-family: Bauhaus;
	font-size: 1.5em; 
	font-weight: bold;
	color: black;
}

header h1 {
	line-height: 3rem;
}

.navbar a {
	padding: .5em .8em;
	font-size: 1.05em;
	border-radius: .3em;
}

.nav-cart ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.cartpadding {
	padding: 0 2em 0 1em;
	position: relative;
}

.thumb img {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.image-main img {
	width: 100%;
	height: 370px;
	object-fit: contain;
}
.image-thumb img {
	width: 8em;
	height: 6em;
	object-fit: contain;
}

.card.flat.soft {
	padding: 0 2em 0 0;
	border-radius: .5em;
	background-color: var(--color-card);
}

.container.spread {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin: 10px;
}

.options>select {
    background-color: var(--color-beige-light);
    padding: .5em 1.5em;
}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

html, body {
    height: 100%;
    margin: 0;
    position: relative;
}

footer {
	background: linear-gradient(to right, #80a6ad, #E4CA9E); 
	color: var(--color-white);
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    padding: auto;
	margin: auto;
	height: 25vh;
	width: 1000px;
    text-align: center;
}

.form-button {
	font-size: 1.2em;
}

.figure.product img {
	height: 100%;
	object-fit: contain;
}
.figure.product:hover {
	box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
	transform: scale(1.05);
}

.card-section~.card-section {
	border-top: .5px solid lightgray;
}
.card-section {
	padding: 0;
}

.delete {
	background-color: var(--color-orange-light);
	border: 1px solid orange;
	border-radius: 0;
	cursor: pointer;
	text-align: center;
}
.delete:hover {
    background-color: var(--color-orange-medium);
    color: white;
}

span.badge:not(:empty)::after {
	content: ')';
}

span.badge:not(:empty)::before {
	content: '(';
}