
:root {
	--color-offwhite: #f4f4f4;

	--color-neutral-light:#ECECEC;
	--color-neutral-medium:#D9D9D9;
	--color-neutral-dark:#ACACAC;

	--color-main-light:#E9F3F6;
	--color-main-medium:#C6DDDF;
	--color-main-dark:#9CB5BA;

	--color-button-light:#ECF3F9;
	--color-button-medium:#C4D4E1;
	--color-button-dark:#A0B6C8;
}

body {
	background-color: var(--color-offwhite);
	padding-bottom: 4em;
}

.underline {
	text-decoration: underline;
}

.center-text {
    text-align: center;
}

@media(max-width:600px){
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar h1{
		padding-left: 0em;
		line-height: 2em;
		font-size: 3em;
	}
	.navbar .display-flex {
		display: block;
	}
}

@media (max-width: 600px) {
	.product-overlay figcaption {
		position: relative;
		display: block;
		top: initial;
		left: initial;
		width: 100%;
		height: initial;
		opacity: 1;
		background-attachment: initial;
	}
	.product-overlay .caption-body {
		transform: none;
		padding: 0;
	}
}

.nav-table ul {
	list-style-type: none;
	margin-top: 0;
	margin-left: 1em;
	margin-block: 0;
	padding-left: 0;
}
.nav-table li {
	list-style-type: square;
	margin-top: 0;
	margin-block: 0;
	padding-left: 0;
}
.nav-table a{
	display: block;
	padding: .5em .5em;
}
.nav-table a:hover{
	background-color: var(--color-button-medium);
	color: var(--color-white);
	text-decoration: none;
}
.nav-table .active a {
	background-color: var(--color-button-light);
	color: inherit;
}

.figure.product {
	border-radius: .5em;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.product-overlay {
	position: relative;
	overflow: hidden;
}
.product-overlay figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: all .3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-overlay:hover figcaption {
	opacity: 1;
}
.product-overlay .caption-body {
	background-color: white;
	border-radius: .5em;
	padding: 1em;
	transform: translateY(2em);
	transition: all .3s;
}
.product-overlay:hover .caption-body {
	transform: translateY(0);
} 
.product-overlay img {
	transform: scale(1, 1);
	transition: all .3s;
}
.product-overlay:hover img {
	transform: scale(1.1, 1.1);
} 

.favorite label {
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-main-brown);
}
.favorite input:checked + label {
	color: red;
	transform: scale(1.5,1.5);
}